/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(calcul.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

header {
    background-color: #33333365;
    color: #fff;
    padding: 20px;
    text-align: center;
}



main {
    padding: 20px;
}

.images {
    display: grid; /* Use flexbox layout */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Automatically adjust the number of columns */
    gap: 20px; /* Gap between images */
    justify-content: center; /* Center images horizontally */
}

.images img {
    width: 100%; /* Make images fill the available space */
    max-width: 100%; /* Ensure images don't exceed their container */
    height: auto; /* Maintain aspect ratio */
}
#calorie-form{
    
    padding: 50px;


}
.form-group {
    display: flex;
    justify-content: right;
    margin-bottom: 30px;
    padding-right: 500px
}

.form-group label {
    color: #333;
    display: block;
    padding: 5px 5px;
    font-weight: bold;
    font-size: 18px;
}

input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 3px 3px black;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 3px black;
    margin-left: 500px;
    width: 250px;

}
button:hover{
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s;
}

#result {
    margin-top: 20px;
    margin-left: 550px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f1f1f1;
    border-radius: 4px;
    display: inline-block;
  

}



/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    .images {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust column width for smaller screens */
        gap: 10px; /* Reduce gap between images */
    }
    input[type="text"],
    input[type="number"] {
        width: calc(100% - 20px); /* Adjust input width for smaller screens */
    }
}





::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll thumb */
    border-radius: 6px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background:black; /* Color of the scroll thumb on hover */
}